body {
  margin: 20;
  padding: 20px 40px;
  font-family: 'Caveat', cursive,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: larger;
  font-style: italic;
}
*{
  box-sizing: border-box;
}